/* General layout */
body
{
  background-color: #eee;
  font-family: Verdana;
}

div.wrapper
{
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 50pt auto;
  padding: 0;
  width: 750pt;
}

/* Banner */
header.banner
{
  background-color: #fed;
  border: 1px solid #fed;
  color: #555;
}

h1
{
  margin: 2pt auto 2pt 5pt;
  padding: 0;
}

nav ul
{
  margin: 0 auto 5pt 10pt;
  padding: 0;
}

nav ul li
{
  display: inline;
  font-size: 10pt;
}

nav ul li + li
{
  border-left: 1px solid;
  margin-left: 0.5em;
  padding-left: 1em;
}

header#intro
{
  padding: 10pt 15pt 5pt 15pt;
  width: 46em;
}

/* Main content */
a, a:link, a:visited, a:link:visited
{
  color: #099;
}

a:hover, a:link:hover, a:visited:hover, a:link:visited:hover
{
  color: #eeaa00;
}

h2
{
  margin: 0;
  padding: 0;
}

main hr
{
  border-style: solid;
  border-width: 1px 0 0 0;
  color: #ccc;
  width: 60%;
}

section
{
  margin: 0 auto 25pt 25pt;
}

section hr
{
  clear: both;
  visibility: hidden;
}

img
{
  width: 128px;
}

table
{
  border: 1px solid #ccc;
  border-collapse: collapse;
}
tr, td, th
{
  border: 1px solid #ccc;
  padding: 3pt 6pt;
}
th
{
  background-color: #fff9f0;
}

article
{
  padding: 10pt 15pt 5pt 15pt;
}

article p
{
  width: 46em;
}

/* Footer */
footer
{
  margin: 0 auto 10pt auto;
  text-align: center;
}

footer hr
{
  border-style: solid;
  border-width: 1px 0 0 0;
  color: #eee;
  width: 80%;
}

/* Article and section styles */
article
{
  display: none;
}

section img
{
  border: 1px solid;
  margin-top: 10pt;
}